$font-family: 'Noto Sans JP', sans-serif;
$backgroud-red: #ff0000;
$unit: 8px;

@function size($value){
    @return $value * $unit
};

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: $font-family;
}
.slick-next{
    color: rer;
    border: black;
}
.header{
   
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 0px 40px;
   .header__title{
       display: flex;
       flex-wrap: wrap;
       width: 250px;
       height: 60px;
       p{
           font-size: size(1.5);
           padding: 0px 20px;
       }
       h1{
        display: flex;
        align-items: center;
        background: linear-gradient(to top,#c6c6c7 0%, #c6c6c7 40%, transparent 0%, transparent 0% );
        transform:scale(1,2);
        font-weight: lighter;
        padding: 0px  20px;
    }
   }
   .header__img{

       width: 200px;
   }
}
.main{
    display: flex;
    justify-content: center;
    .main__slider{
        width: 80vw;
        .img{
            width: auto;
        }
    }
}

.slick-arrow{
border: 1px solid black !important;
border-radius: 50%;
}

/* SVG */
svg{
    margin-bottom: -35px;
}
/* Footer */
.footer{
   margin-top: 8px;
    .footer__section{
        color: #ffff;
        background-color: $backgroud-red;
        text-align: center;
        height: 33vh;
    .footer__section--img{
        width: auto;
        margin-top: -59px;
    }
    }
    
}



/* RESPONSIVE */

@media screen and (max-width: 600px) {
    .header{
        .header__img{
            display: none;
        }
   margin: 10px 30px;
.header__title{
    height: 50px;
}   

}  
   


    /* FOOTER */
    .footer{
   
        .footer__section{
            background-color: $backgroud-red;
            text-align: center;
        
        .footer__section--img{
            width: 30vw;
            margin-top: -25px;
        }
        .footer__section--title{
            font-size: size(1.5);
            
            h2{
                font-weight: lighter;
               margin: 10px 30px;
            }
            h4{
                margin: 10px 10px;
            }
        }
        }
        
    }
}

@media screen and (max-width: 349px){
    .header {
        margin: 10px 17px;
    }
}